{% load staticfiles %}


<section class="mbr-section mbr-section-md-padding mbr-footer footer2" id="contacts2-1" style="background-color: rgb(6, 19, 32); padding-top: 60px; padding-bottom: 60px;">
    
    <div class="container">
        <div class="row">
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <p><strong>Address</strong><br>
                    Mhakave Tah:Kagal<br>Kolhapur City, Pin : 416216<br><br><br>
                        <strong>Contacts</strong><br>
                    Email: support@mhakave.com<br>
                    Phone: +91 &nbsp;9764846984<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
                    +91  9503740966 &nbsp;</p>
            </div>
            <div class="mbr-footer-content col-xs-12 col-md-3"><strong>Links</strong>
                <ul>
                    <li>
                        <a class="text-white" href="/News"><strong>News</strong></a>
                    </li><br>

                    <li>
                        <a class="text-white" href="/feedback"><strong>Feedback</strong></a>
                    </li><br>
                    <li>
                        <a class="text-white" href="/blog"><strong>Blog</strong></a>
                    </li><br>
                    <li>
                        <a class="text-white" href="/photos"><strong>Photos</strong></a>
                    </li><br>
                </ul>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="mbr-map"><iframe frameborder="1" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJ_VRHDW_3wDsR2FFEF7CBKco" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>
    
