{% load staticfiles %}
{% load crispy_forms_tags %}

<section class="mbr-section" id="contact" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">
    
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">CONTACT FORM</h3>
                    <small class="mbr-section-subtitle">Shape your future web project with sharp design and refine coded functions.</small>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1" data-form-type="formoid">


                    <!-- <div data-form-alert="true">
                        <div hidden="" data-form-alert-success="true" class="alert alert-form alert-success text-xs-center">Thanks for filling out form!</div>
                    </div> -->


                    <!-- <form action="" method="post" data-form-title="CONTACT FORM">{% csrf_token %}

                        <input type="hidden" value="sYF99C+E0W9SdId8WXhERgle1DxqLjMMScZHMBN6DuLEhQmHl5ZURun5tCZ5K7Of+RV0oNB+7mJiHNm4UWLa4Jta9jHvO0SOWOO5Nz93X2Urk6Z9XABj1s8hD2HAXdZv" data-form-email="true">

                        <div class="row row-sm-offset">

                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-2-name">Name<span class="form-asterisk">*</span></label>
                                    <input type="text" class="form-control" name="name" required="" data-form-field="Name" id="form1-2-name">
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-2-email">Email<span class="form-asterisk">*</span></label>
                                    <input type="email" class="form-control" name="email" required="" data-form-field="Email" id="form1-2-email">
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="form1-2-phone">Phone</label>
                                    <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="form1-2-phone">
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="form1-2-message">Message</label>
                            <textarea class="form-control" name="message" rows="7" data-form-field="Message" id="form1-2-message"></textarea>
                        </div>

                        <div><button type="submit" class="btn btn-primary">CONTACT US</button></div> -->

                        <form method="post" action="">{% csrf_token %}
                            {{ contact_form | crispy }}
                            <input type="submit" class="btn btn-primary" name="submit">
                        </form>
                </div>
            </div>
        </div>
    </div>
</section>

