{% load staticfiles %}


<section class="mbr-section" id="testimonials1-6" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">

    

        <div class="mbr-section mbr-section__container mbr-section__container--middle">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-xs-center">
                        <h3 class="mbr-section-title display-2">WHAT OUR FANTASTICs&nbsp;</h3>
                        <small class="mbr-section-subtitle">Shape your future web project with sharp design and refine coded functions.</small>
                    </div>
                </div>
            </div>
        </div>


    <div class="mbr-testimonials mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block"><p>“मी इंद्रजित नार्वेकर , हि  ववेबसाइट तयार करण्यामागे हेतू हाच आहे कि आपल्या गावाची प्रसिद्धी मोठी व्हावी  आणि तसेच मोदींच्या डिजिटल भारत या प्रकल्पाला थोडासा हातभार म्हणून हि वेबसाइट तयार केली आहे . माझे मित्र तानाजी चौगुले , प्रितम पाटील आणि रणजीत पाटील यांनी मोठा सहकार्य केला आहे  ”</p></div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="{% static 'img/indra.jpg' %}" class="img-circle"></div>
                            <div class="mbr-author-name">Indra Narvekar</div>
                            <small class="mbr-author-desc">Engneeeer</small>
                        </div>
                    </div>
                </div><div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block"><p>“म्हाकवे .कॉम  म्हंटलं कि जरा बरं वाटत ,चार-चौघात बोलायला अभिमान वाटतो  कि आमच्या गावाची वेबसाइट आहे . ह्या वेबसाइट द्वारे आपण आपल्या गावामध्ये खूप बदल घडवू शकतो . पुढे जाऊन आम्ही गावातले सगळी कामं ऑनलाईन कशी  करता येईल यासाठी  प्रयन्त प्रयत्न करणार आहोत ”</p></div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="{% static 'img/tani.jpg' %}" class="img-circle"></div>
                            <div class="mbr-author-name">Tanaji chaugule.</div>
                            <small class="mbr-author-desc">Front End Dev.</small>
                        </div>
                    </div>
                </div><div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block"><p>“आपल्या गावाच्या वेबसाइट साठी सर्वांनी प्रोत्साहन दिले पाहिजे असा मला वाटतं . कारण या माध्यमातून आपल्या गावाचा खूप विकास होईल असे मला वाटते. आपण या वेबसाइट मध्ये ग्रामपंचायतीची सर्व कामे पार पडू शकतो. ज्याणेंकरून कोणाला जास्त त्रास होणार नाही ”</p></div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="{% static 'img//pritam.jpg' %}" class="img-circle"></div>
                            <div class="mbr-author-name">Pritam Patil.</div>
                            <small class="mbr-author-desc">News Reporter</small>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>
