{% load staticfiles %}

<section class="mbr-section mbr-section-hero mbr-section-full header2 mbr-parallax-background" id="header6-3" style="background-image: url({% static 'assets/images/room-laptop2.jpg' %});">

    <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(204, 204, 204);">
    </div>

    <div class="mbr-table mbr-table-full">
        <div class="mbr-table-cell">

            <div class="container">
                <div class="mbr-section row">
                    <div class="mbr-table-md-up">
                        
                        <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 50%;">
                            <div class="mbr-figure"><iframe width="560" height="315" src="https://www.youtube.com/embed/PXKFvfG1c58" frameborder="0" allowfullscreen></iframe></div>
                        </div>
                        <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">

                            <h3 class="mbr-section-title display-2">ग्रामदैवत &nbsp;गावडुबाई&nbsp;</h3>

                            <div class="mbr-section-text lead">
                                <p>Full screen intro with youtube video.<br>Mobirise helps you cut down development time by providing you with a flexible website editor.</p>
                            </div>

                            <div class="mbr-section-btn"><a class="btn btn-lg btn-black-outline btn-black" href="https://mobirise.com">MORE</a></div>

                        </div>

                        
                        

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="mbr-arrow mbr-arrow-floating hidden-sm-down" aria-hidden="true"><a href="#contact"><i class="mbr-arrow-icon"></i></a></div>

</section>
